designs/server/services/ids.json
[
    {
        "id": "sd_gUwNEwgC0smMrz3j",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_rQWhmUulMJKf8jiI",
        "type": "HttpIn",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_lh3KepwKY0ryKAC5"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_rQWhmUulMJKf8jiI"
    },
    {
        "id": "sd_PTKOnRrTF81HWvHa",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_PTKOnRrTF81HWvHa",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_2la23ZovymRoxxZJ"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_2la23ZovymRoxxZJ",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_2la23ZovymRoxxZJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_aTQZdI4GEj99x0IO"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_Q9bQQ61xCRamy5dJ",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_Q9bQQ61xCRamy5dJ",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_d3YE5agjWjniWGmi"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_aTQZdI4GEj99x0IO",
        "type": "CallService",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_7Spwkvl93ZMsARrN",
            "serviceName": "idsutil",
            "id": "sd_7Spwkvl93ZMsARrN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_ud97o0RK8D6xPHmg",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_aTQZdI4GEj99x0IO",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_QgkwmkW7Tof7Slvx"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_d3YE5agjWjniWGmi",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_d3YE5agjWjniWGmi",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_t4LzDraH3XKAkHbT",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_t4LzDraH3XKAkHbT",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_PTKOnRrTF81HWvHa"
            ],
            [
                "sd_Aj82bpyAUzIlsiA4"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_lh3KepwKY0ryKAC5",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_lh3KepwKY0ryKAC5",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_t4LzDraH3XKAkHbT"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_AOoO1uFptVndXNad",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_AOoO1uFptVndXNad",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Aj82bpyAUzIlsiA4",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_Aj82bpyAUzIlsiA4",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_AOoO1uFptVndXNad"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UgBbC5EsmZyQLrPJ",
        "type": "MiddlewareStart",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_VYjRAw6CvtHvLnOj"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_UgBbC5EsmZyQLrPJ"
    },
    {
        "id": "sd_PdK9cIBYOFgEBTwP",
        "type": "MiddlewareEnd",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_PdK9cIBYOFgEBTwP",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VYjRAw6CvtHvLnOj",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_VYjRAw6CvtHvLnOj",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_PdK9cIBYOFgEBTwP"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QgkwmkW7Tof7Slvx",
        "type": "CallService",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_7Spwkvl93ZMsARrN",
            "serviceName": "idsutil",
            "id": "sd_7Spwkvl93ZMsARrN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_Jz2mGS2kZvpmUBxn",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_QgkwmkW7Tof7Slvx",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_Q9bQQ61xCRamy5dJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_riV1KvXquyljL6Rw",
        "type": "HttpIn",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_Vw2PedtjO8wAoaaS"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_riV1KvXquyljL6Rw"
    },
    {
        "id": "sd_fmvCcxjQG6yKHG3F",
        "type": "CallService",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_7Spwkvl93ZMsARrN",
            "serviceName": "idsutil",
            "id": "sd_7Spwkvl93ZMsARrN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_ud97o0RK8D6xPHmg",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_fmvCcxjQG6yKHG3F",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_4IUOrdxvj5J4i5jd"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4IUOrdxvj5J4i5jd",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_4IUOrdxvj5J4i5jd",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_RT46MyaS4pXopUov"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Vw2PedtjO8wAoaaS",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_Vw2PedtjO8wAoaaS",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_fmvCcxjQG6yKHG3F"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yPWdwQi5UF06LWxI",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_yPWdwQi5UF06LWxI",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_U2eV0WuNt0QQJBnX"
            ],
            [
                "sd_EhRjMycJDP6jI8wL"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_U2eV0WuNt0QQJBnX",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_U2eV0WuNt0QQJBnX",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_bGfBxxMowd7auz95"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EhRjMycJDP6jI8wL",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_EhRjMycJDP6jI8wL",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_bRVyU7PLzUDUaxyZ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bGfBxxMowd7auz95",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_bGfBxxMowd7auz95",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bRVyU7PLzUDUaxyZ",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_bRVyU7PLzUDUaxyZ",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RT46MyaS4pXopUov",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_RT46MyaS4pXopUov",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_yPWdwQi5UF06LWxI"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Cl8FWJzFnLDAFFYq",
        "type": "HttpIn",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_qFzr32d63mRHbJbE"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Cl8FWJzFnLDAFFYq"
    },
    {
        "id": "sd_qFzr32d63mRHbJbE",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_qFzr32d63mRHbJbE",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_fE7Z5IdMzKrktnmE"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fE7Z5IdMzKrktnmE",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_fE7Z5IdMzKrktnmE",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_h2ESD2FMATR9SJzM",
        "type": "Catch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_QgkwmkW7Tof7Slvx",
            "sd_riV1KvXquyljL6Rw",
            "sd_fmvCcxjQG6yKHG3F",
            "sd_4IUOrdxvj5J4i5jd",
            "sd_Vw2PedtjO8wAoaaS",
            "sd_yPWdwQi5UF06LWxI",
            "sd_U2eV0WuNt0QQJBnX",
            "sd_EhRjMycJDP6jI8wL",
            "sd_bGfBxxMowd7auz95",
            "sd_bRVyU7PLzUDUaxyZ"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_h2ESD2FMATR9SJzM",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_DRXAxwizNSsif5am"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_DRXAxwizNSsif5am",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_DRXAxwizNSsif5am",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sELet8y2mzWylE6e",
        "type": "HttpIn",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_VtTQfT3MTl0WYe0L"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_sELet8y2mzWylE6e"
    },
    {
        "id": "sd_VtTQfT3MTl0WYe0L",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_VtTQfT3MTl0WYe0L",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_TI6V2Y1khTLAhtjr"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TI6V2Y1khTLAhtjr",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_TI6V2Y1khTLAhtjr",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_1DAh3pqtJaYQh2Ru"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_05iSPJc9OC4F5nz2",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_05iSPJc9OC4F5nz2",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_o3ATyJ8LZy7iNpx9"
            ],
            [
                "sd_joGow2RVqPAk2iOz"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_o3ATyJ8LZy7iNpx9",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_o3ATyJ8LZy7iNpx9",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1DAh3pqtJaYQh2Ru",
        "type": "CallService",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_7Spwkvl93ZMsARrN",
            "serviceName": "idsutil",
            "id": "sd_7Spwkvl93ZMsARrN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_ud97o0RK8D6xPHmg",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_1DAh3pqtJaYQh2Ru",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_05iSPJc9OC4F5nz2"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ViLGdy3jdMI4eVPm",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_ViLGdy3jdMI4eVPm",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_joGow2RVqPAk2iOz",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_joGow2RVqPAk2iOz",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_ViLGdy3jdMI4eVPm"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dBAkhBiF9yaXGBjf",
        "type": "HttpIn",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_kVT9sWICWFvx3Jn5"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_dBAkhBiF9yaXGBjf"
    },
    {
        "id": "sd_kVT9sWICWFvx3Jn5",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_kVT9sWICWFvx3Jn5",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_3kqv1dYqSmP4mVGX"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gr5kOVlizkZp2hvd",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_gr5kOVlizkZp2hvd",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_Y3zfrYPXgOhkiiwB"
            ],
            [
                "sd_qKIQN6HaE0aK2Qip"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Y3zfrYPXgOhkiiwB",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_Y3zfrYPXgOhkiiwB",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_B6DHtousarjRaY0s"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_B6DHtousarjRaY0s",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_B6DHtousarjRaY0s",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qKIQN6HaE0aK2Qip",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_qKIQN6HaE0aK2Qip",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_fljcaq2sZoFqqIgJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fljcaq2sZoFqqIgJ",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_fljcaq2sZoFqqIgJ",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3kqv1dYqSmP4mVGX",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_3kqv1dYqSmP4mVGX",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_gr5kOVlizkZp2hvd"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xfarrjE3OlwfvHZL",
        "type": "MiddlewareStart",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_Tt2hKapmhDqF7W9t"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_xfarrjE3OlwfvHZL"
    },
    {
        "id": "sd_xUOeFalykWDH3HuC",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_xUOeFalykWDH3HuC",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_8n3d3BmGvoElxxWr"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9BeLNpc4Pm3x2K2E",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9BeLNpc4Pm3x2K2E",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_BRUmKS0RnmQT8iE1"
            ],
            [
                "sd_VztARI5SdmUwNcKx"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VztARI5SdmUwNcKx",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_VztARI5SdmUwNcKx",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_SoNuxZhytFjhtrfG"
            ],
            [
                "sd_nYCF9vDzFdZZRBTk"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_R1gwMsIi9Yfnm40j",
        "type": "HttpOut",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_R1gwMsIi9Yfnm40j",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SoNuxZhytFjhtrfG",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_SoNuxZhytFjhtrfG",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_R1gwMsIi9Yfnm40j"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nYCF9vDzFdZZRBTk",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_nYCF9vDzFdZZRBTk",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_R1gwMsIi9Yfnm40j"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_B2MOFpAyRksiJLXW",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_B2MOFpAyRksiJLXW",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_7DnnrxIinSXF2N0F"
            ],
            [
                "sd_D6LOgJu2SKFx294z"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NbSBRhzxS0cvAvJm",
        "type": "MiddlewareEnd",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_NbSBRhzxS0cvAvJm",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mrIK9ipMUCNY1FCO",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_mrIK9ipMUCNY1FCO",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_R1gwMsIi9Yfnm40j"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BRUmKS0RnmQT8iE1",
        "type": "CallService",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_7Spwkvl93ZMsARrN",
            "serviceName": "idsutil",
            "id": "sd_7Spwkvl93ZMsARrN",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_SuDH2fYpwJ10kHO8",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_BRUmKS0RnmQT8iE1",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_B2MOFpAyRksiJLXW"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Tt2hKapmhDqF7W9t",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_Tt2hKapmhDqF7W9t",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_xUOeFalykWDH3HuC"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8n3d3BmGvoElxxWr",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_8n3d3BmGvoElxxWr",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_9BeLNpc4Pm3x2K2E"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7DnnrxIinSXF2N0F",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_7DnnrxIinSXF2N0F",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_mrIK9ipMUCNY1FCO"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_D6LOgJu2SKFx294z",
        "type": "Switch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_D6LOgJu2SKFx294z",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_WpZWtv6aVMyVIouR"
            ],
            [
                "sd_NbSBRhzxS0cvAvJm"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EUiDTPBTp3WIIgAd",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_EUiDTPBTp3WIIgAd",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_NbSBRhzxS0cvAvJm"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WpZWtv6aVMyVIouR",
        "type": "Script",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_WpZWtv6aVMyVIouR",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_EUiDTPBTp3WIIgAd"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SSE6H1ZahCGoP5sK",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_zj2iIrMzvWh8KPqE",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_FCzcayKh4ioi9rCp",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_vJnbEZMTlU1ZjWiX",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_10SSKIn2E6bHHUCN",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_jkdOX94s7VIPYUXJ",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_tY87PnSsYYhxwtcG",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_jo7mhOxrr9L1h6y6",
        "type": "Comments",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_zoCzSoaXw5OeJRys",
        "type": "Catch",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_BRUmKS0RnmQT8iE1"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_zoCzSoaXw5OeJRys",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_mrIK9ipMUCNY1FCO"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_gUwNEwgC0smMrz3j",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_ViLGdy3jdMI4eVPm"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
